/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2014, 11:29:38 PM
    Author     : S519420
*/

.CH,.CS,.AB,.DH,.DL,.DM,.GM,.HY,.JA,.MM,.MR,.NL,.WX,.SB,.NZ{
    
    
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:6px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    
    
}
#body{
    margin-left: 28%;
}
#table2excel{
    width:1400px;
}

.container-report{
    float: left;
    height: 100px;
    width: 350px;
    overflow: auto;
}