/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2014, 3:16:15 PM
    Author     : S519397
*/
.no-margin {
    margin: 0;
}
.margin-left {
    margin-left: 5px;
}
.input-margin-bottom{
    margin-bottom: 5px;
}
.heading-margin-left{
    margin-left: 160px;
}
.schedule-heading-margin-left{
    margin-left: 550px;
}
#detailsDiv{
    text-align: center;
}

.container{
    width: 250px;
    height: 100px;
    overflow: auto;
}


body{
    height: 450px;
    width: 1300px;


}

#content{
    margin-top: 50px;
    // margin-top: 1;
    margin-left: 50px;
    float: left;
    padding: 2px;
    font-family: sans-serif;
}

#header {
    background-color: green;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: larger;
    font-family: serif;
    margin-right: 320px;
    margin-left: 340px;
    font-family:"Calibri (Body)";

}

#navigation {
    line-height: 50px;
    background-color: green;
    height: 400px;
    width: 100px;
    float: left;
    margin-left: 340px;

}
#section,#labEntry{
  //  height: 445px;
    width: 600px;
    margin-left: 340px;
}

#management{

}
#footer{
    background-color: background;
    padding: 10px;
    color: brown;
    clear: both;
    text-align: center;
}
#entry{
    margin-left: 100px;
    // margin-top: 1;
    float: left;
}

#roomTable{
    //margin-left: 120px;
    // margin-top: 1;
    float: left;
}


#courseTable{
  
    // margin-top: 1;
    float: left;
}

#message{
    font-size: 14px;
    //margin-left: 120px;
}
#messageScheduler{
    font-size: 14px;
   // margin-left: 500px;
}

.displayBuildings {
   // margin-left: 340px;
    border: 1px solid green;
    border-collapse: collapse;
}

#allowdeny{
    margin-left: 570px;
}


#empty{
    padding: .1%;
}

a{
    color: white;
    text-decoration: none;
}
#add{
    // margin-left: 170px;
    color: green;

}
#courseSectionEntry{
    margin-left: 120px;
    margin-top:10px;
}
#departmentEntry{
    margin-left: 100px;
    // margin-top: 1;
    float: left;
}
#addDepartmentTitle{
    margin-left: 100px;
    color: green;

}
#addCourseSectionTitle,#labSectionInsert{
    margin-left: 600px;
    color: green;
    margin-top: 5px;
}
#addProfessorTitle{
    margin-left: 43%;
    color: green;
}

/*.textbox { 
    outline:0; 
    height:14px; 
    width: 80px;
} */

#textbox:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

textArea:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

#fieldset{
    width: 100px;
}

.textbox { 
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.44); 
    color: #333; 
    border: 1px solid #A4A4A4; 
    padding: 4px 8px 4px 4px !important;
    line-height: 1; 
    width: 100px; 
    height:10px; 
} 
.textbox:hover { 
    border: 1px solid orange; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
} 
.textbox:focus { 
    border: 1px solid #4d90fe; 
    outline: none; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);  
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    background: rgb(255, 255, 255); } 


.button{
    background-color: green;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

.redColor{
    color: red;   
}

#labTable{
    margin-left: 90px;
    margin-top:10px;
    float: left;
    padding-left: 30px;
}
.schedulerButton{
    background-color: green;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
   // margin-left: 220px;
    float: left;
}
/*
select,input[type=text]{
    overflow:hidden;
    width: fit-content ;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 1px antiquewhite ;
    background: wheat ;//url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;   
    border: 0;
    font-size: 14px;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-appearance: none;
}*/
input[type=checkbox]{
    border-radius: 2px;// 2px 9px 9px;
    -webkit-border-radius: 2px;// 9px 9px 9px;
    -moz-border-radius: 2px;// 9px 9px 9px;
}

